# PySpark H.W Session 1

Let's get some quick practice with your new Spark DataFrame skills, you will be asked some basic questions about some stock market data, in this case Walmart Stock from the years 2012-2017. This exercise will just ask a bunch of questions, unlike the future machine learning exercises, which will be a little looser and be in the form of "Consulting Projects", but more on that later!

For now, just answer the questions and complete the tasks below.

#### Use the walmart_stock.csv file to Answer and complete the  tasks below!

In [ ]:
%config Completer.use_jedi = False

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Config option `use_jedi` not recognized by `IPCompleter`.
  """Entry point for launching an IPython kernel.

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.1.2.tar.gz (212.4 MB)
     |████████████████████████████████| 212.4 MB 64 kB/s
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 40.0 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=b4db5f3d2b72dbcd111bd06085afe09fc0e42847bd5865619941aa38fcb0b118
  Stored in directory: /root/.cache/pip/wheels/a5/0a/c1/9561f6fecb759579a7d863dcd846daaa95f598744e71b02c77
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [ ]:
import pyspark

In [ ]:
from pyspark.sql import SparkSession

#### Start a simple Spark Session

In [ ]:
spark = SparkSession.builder.appName("DataFrame").getOrCreate()

In [ ]:
sc = spark.sparkContext

#### Load the Walmart Stock CSV File, have Spark infer the data types.

In [ ]:
df = spark.read.csv('walmart_stock.csv',header=True,inferSchema=True)
df

DataFrame[Date: string, Open: double, High: double, Low: double, Close: double, Volume: int, Adj Close: double]

#### What are the column names?

In [ ]:
df.columns

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

#### What does the Schema look like?

In [ ]:
df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

#### Print out the first 5 rows.

In [ ]:
df.head(5)

[Row(Date='2012-01-03', Open=59.970001, High=61.060001, Low=59.869999, Close=60.330002, Volume=12668800, Adj Close=52.619234999999996),
 Row(Date='2012-01-04', Open=60.209998999999996, High=60.349998, Low=59.470001, Close=59.709998999999996, Volume=9593300, Adj Close=52.078475),
 Row(Date='2012-01-05', Open=59.349998, High=59.619999, Low=58.369999, Close=59.419998, Volume=12768200, Adj Close=51.825539),
 Row(Date='2012-01-06', Open=59.419998, High=59.450001, Low=58.869999, Close=59.0, Volume=8069400, Adj Close=51.45922),
 Row(Date='2012-01-09', Open=59.029999, High=59.549999, Low=58.919998, Close=59.18, Volume=6679300, Adj Close=51.616215000000004)]

#### Use describe() to learn about the DataFrame.

In [ ]:
df.describe().show()

+-------+----------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|      Date|              Open|             High|              Low|            Close|           Volume|        Adj Close|
+-------+----------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|      1258|              1258|             1258|             1258|             1258|             1258|             1258|
|   mean|      null| 72.35785375357709|72.83938807631165| 71.9186009594594|72.38844998012726|8222093.481717011|67.23883848728146|
| stddev|      null|  6.76809024470826|6.768186808159218|6.744075756255496|6.756859163732991|  4519780.8431556|6.722609449996857|
|    min|2012-01-03|56.389998999999996|        57.060001|        56.299999|        56.419998|          2094900|        50.363689|
|    max|2016-12-30|         90.800003|        90.970001|            89.25|        90.470001|         80898100|84.91421600000001|
+-------+----------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+

## Bonus Question!
#### There are too many decimal places for mean and stddev in the describe() dataframe. Format the numbers to just show up to two decimal places. Pay careful attention to the datatypes that .describe() returns, we didn't cover how to do this exact formatting, but we covered something very similar. [Check this link for a hint](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.Column.cast)

If you get stuck on this, don't worry, just view the solutions.

root
 |-- summary: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Adj Close: string (nullable = true)

+-------+--------+--------+--------+--------+--------+
|summary|    Open|    High|     Low|   Close|  Volume|
+-------+--------+--------+--------+--------+--------+
|  count|1,258.00|1,258.00|1,258.00|1,258.00|    1258|
|   mean|   72.36|   72.84|   71.92|   72.39| 8222093|
| stddev|    6.77|    6.77|    6.74|    6.76| 4519781|
|    min|   56.39|   57.06|   56.30|   56.42| 2094900|
|    max|   90.80|   90.97|   89.25|   90.47|80898100|
+-------+--------+--------+--------+--------+--------+

#### Create a new dataframe with a column called HV Ratio that is the ratio of the High Price versus volume of stock traded for a day.

In [ ]:
newdf = df.withColumn("HV Ratio",df['High']/df['Volume'])

In [ ]:
newdf.select(['HV Ratio']).show()

+--------------------+
|            HV Ratio|
+--------------------+
|4.819714653321546E-6|
|6.290848613094555E-6|
|4.669412994783916E-6|
|7.367338463826307E-6|
|8.915604778943901E-6|
|8.644477436914568E-6|
|9.351828421515645E-6|
| 8.29141562102703E-6|
|7.712212102001476E-6|
|7.071764823529412E-6|
|1.015495466386981E-5|
|6.576354146362592...|
| 5.90145296180676E-6|
|8.547679455011844E-6|
|8.420709512685392E-6|
|1.041448341728929...|
|8.316075414862431E-6|
|9.721183814992126E-6|
|8.029436027707578E-6|
|6.307432259386365E-6|
+--------------------+
only showing top 20 rows

#### What day had the Peak High in Price?

In [ ]:
newdf.orderBy(newdf['High'].desc()).head(1)[0][0]

'2015-01-13'

#### What is the mean of the Close column?

In [ ]:
newdf.groupby('Close').avg().show()

+---------+-----------------+-----------------+-----------------+----------+-----------------+------------------+--------------------+
|    Close|        avg(Open)|        avg(High)|         avg(Low)|avg(Close)|      avg(Volume)|    avg(Adj Close)|       avg(HV Ratio)|
+---------+-----------------+-----------------+-----------------+----------+-----------------+------------------+--------------------+
|     74.5|        74.839996|        74.989998|        74.260002|      74.5|        8535700.0|         66.213137|8.785453799922678E-6|
|71.309998|71.24666866666666|        71.693334|70.84333566666668| 71.309998|8214433.333333333|         65.798023|9.212998576608988E-6|
|    78.75|            78.25|            78.75|             78.0|     78.75|        6123900.0|         71.257698|1.285945230980257...|
|70.870003|            70.57|        71.050003|        70.519997| 70.870003|        6363600.0| 69.37782299999999|1.116506427179584E-5|
|75.339996|74.95500200000001|            75.43|       74.8449975| 75.339996|        8903850.0|         69.860258|1.251019906891522...|
|70.980003|            71.07|        71.639999|        70.599998| 70.980003|        1.78448E7|         70.461903|4.014614845781404E-6|
|61.900002|            61.68|            61.91|        61.380001| 61.900002|        5501000.0|53.988572999999995|1.125431739683693...|
|    71.43|        72.300003|        72.339996|            71.43|     71.43|        7634200.0|         63.484623|9.475779518482617E-6|
|74.220001|        74.309998|        74.440002|        74.010002| 74.220001|        3928200.0|          69.27512|1.895015579654804E-5|
|62.029999|            62.32|            62.43|        61.700001| 62.029999|        7727200.0| 54.10195600000001|8.079252510611865E-6|
|72.309998|       72.0999985|       72.6100005|       71.7799985| 72.309998|        8543600.0|         64.093887|8.828705102784408E-6|
|86.639999|       86.2799985|        86.990002|       86.0550005| 86.639999|        5889700.0|         81.319416|1.739065031309511E-5|
|     67.0|        66.860001|       67.5149995|       66.3149985|      67.0|       1.005155E7|        64.8733275|8.092350202324013E-6|
|73.839996|73.72999949999999|        74.014999|       73.3849985| 73.839996|        7292450.0| 72.28528299999999|1.084182371528176...|
|73.730003|        73.709999|            74.07|        73.410004| 73.730003|        5248300.0| 72.17760600000001|1.411314139816702...|
|77.970001|        78.244999|78.33000150000001|       77.3899995| 77.970001|        6016350.0| 70.99268699999999|1.329470663942718...|
|77.010002|           77.035|       77.5699995|       76.6749995| 77.010002|        6395700.0|         71.408798|1.234955535567552...|
|76.489998|            76.25|            76.57|        75.860001| 76.489998|        3752900.0|         71.393879|2.040288843294518...|
|87.720001|            87.07|        87.720001|        86.269997| 87.720001|        6522800.0| 82.33309399999999|1.344821257742074E-5|
|     69.0|69.16000133333334|        69.433332|        68.516665|      69.0|        9016200.0| 61.55178766666666|7.761773219605772E-6|
+---------+-----------------+-----------------+-----------------+----------+-----------------+------------------+--------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import mean
newdf.select(mean('Close')).show()

+-----------------+
|       avg(Close)|
+-----------------+
|72.38844998012726|
+-----------------+

#### What is the max and min of the Volume column?

In [ ]:
from pyspark.sql.functions import max, min
newdf.select(max('Volume'), min('Volume')).show()

+-----------+-----------+
|max(Volume)|min(Volume)|
+-----------+-----------+
|   80898100|    2094900|
+-----------+-----------+

#### How many days was the Close lower than 60 dollars?

In [ ]:
newdf.filter(newdf['Close'] < 60).count()

81

#### What percentage of the time was the High greater than 80 dollars ?
#### In other words, (Number of Days High>80)/(Total Days in the dataset)

In [ ]:
((newdf.filter(newdf['High'] > 80).count()) / (newdf.count())) * 100.0

9.141494435612083

#### What is the Pearson correlation between High and Volume?
#### [Hint](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrameStatFunctions.corr)

In [ ]:
from pyspark.sql.functions import corr
newdf.select(corr('High','Volume')).show()

+-------------------+
| corr(High, Volume)|
+-------------------+
|-0.3384326061737161|
+-------------------+

#### What is the max High per year?

In [ ]:
from pyspark.sql.functions import year
import pyspark.sql.functions as F

newdf = newdf.withColumn("Year",year(newdf['Date']))
newdf.groupBy('Year').agg(F.max('High')).show()

+----+---------+
|Year|max(High)|
+----+---------+
|2015|90.970001|
|2013|81.370003|
|2014|88.089996|
|2012|77.599998|
|2016|75.190002|
+----+---------+

#### What is the average Close for each Calendar Month?
#### In other words, across all the years, what is the average Close price for Jan,Feb, Mar, etc... Your result will have a value for each of these months.

In [ ]:
from pyspark.sql.functions import month

newdf = newdf.withColumn("Month",month(newdf['Date']))
newdf.groupBy('Month').agg(F.avg('Close')).show()

+-----+-----------------+
|Month|       avg(Close)|
+-----+-----------------+
|   12|72.84792478301885|
|    1|71.44801958415842|
|    6| 72.4953774245283|
|    3|71.77794377570092|
|    5|72.30971688679247|
|    9|72.18411785294116|
|    4|72.97361900952382|
|    8|73.02981855454546|
|    7|74.43971943925233|
|   10|71.57854545454543|
|   11| 72.1110893069307|
|    2|  71.306804443299|
+-----+-----------------+